@import "../core/variables.scss";

.main__cards--button {
  width: 75px;
  height: 30px;
  border-radius: 22px;
  font-size: 12px;
  font-family: $mainfont;
  text-transform: uppercase;
  color: $gunmetal;
  background-color: $bluesilver;
  border: solid 1px $whitetwo;
  margin: auto auto 0px 0px;
  grid-column: 2/3;
  cursor: pointer;
}
